<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="styles/contact.css">
</head>


<body style="background-color: cornsilk; font-style: oblique; font-family: sans-serif;">
  

<h3>Contact Details : </h3>

<ol>
  <li>Mail</li>
  <ol start="i">
    <li>omkarbutu@gmail.com</li>
    <li>jeethesh333@gmail.com</li>
  </ol>
  <li>Phone</li>
  <ol start="i">
    <li>9550399459</li>
    <li>7013159611</li>
  </ol>
</ol>
<h3>Or Simply Submit Your Message Below:</h3>
<form action="mailto:jeethesh333@gmail.com" enctype="text/plain" method="post">
    <label for="User Name">Your name</label>
    <input type="text" name="Your name" id=""><br>
    <label for="User Mail " style="margin: left 8px;">Your mail</label>
    <input type="email" name="your email "><br>
    
    
    <label for="User Concern">Message</label>
    <textarea name="your Feedback" id="" cols="40" rows="20"></textarea><br>
    <input type="submit">
   <hr>
   
    
</form>
</body>
</html>