<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<title>Manage Roles</title>
</head>
<script>
setTimeout(function() {
  $("#flashDiv").fadeOut().empty();
}, 5000);
</script>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>Role Management</h3>
          </div>
          {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger" id="flashDiv">
                {{ message }}
            </div>
          {%- endfor %}
        </div>
        <form class="login-form" action='' method='POST'>
                {% for i in range(user_count) %}
                <label for='i'>{{users[i]}} </label>
                <select name="user_{{user_id[i]}}" id="{{i}}">
                  {% for item in roles %}
                  {% if user_roles[i] == item %}
                    <option value="{{item}}" selected>{{item}}</option>
                  {% else %}
                    <option value="{{item}}">{{item}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                {% endfor %}
            <button>Save Changes</button>
            <br><br>
            <a href="/home"><button type="button">Go to home</button></a>
        </form>
      </div>
    </div>
</body>
</body>
</html>